<footer>
<p>
  This code was created by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a> from the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
  This code was modified by <a href="https://twitter.com/nabilalanbar">Nabil Alanbar</a> for his own use. He understands what he is doing, but probably not well. 
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
<p>
  This page uses Clicky for analytics.
  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(24497);</script>
<script async src="//static.getclicky.com/js"></script>
</p>
</footer>
